<!DOCTYPE html>
<html lang="en" data-ng-app="ServicesApp">
    <head>
        <meta charset="UTF-8">
        <title>Services</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="js/servicesApp.js"></script>
        <script src="js/servicesController.js"></script>
    </head>
    <body data-ng-controller="ServicesController as srvCtrl">
        <h1>Services</h1>
        <p>Choisissez les éléments à inclure</p>
        <ng-pluralize count="srvCtrl.nbActive"
                      when="{'0': 'Aucun service sélectionné',
                       'one': '1 service sélectionné',
                       'other': '{} services sélectionnés'}">
        </ng-pluralize><br><br>
        <li ng-repeat="service in srvCtrl.services" ng-click="srvCtrl.toggleActive(service)">
            {{service.name}} {{service.price | currency}} {{service.active}}
        </li><br>
        Total : <span data-ng-bind="srvCtrl.total() | currency" class="ng-binding"></span><br>
        <input type="checkbox" ng-model="srvCtrl.activePromo"><input type="text" ng-model="srvCtrl.codePromo" placeholder="Code promo"><br>
        <div ng-show="srvCtrl.activePromo && srvCtrl.codePromo">Remise : <span data-ng-bind="srvCtrl.remise()" class="ng-binding"></span><br>
        Total avec remise : <span data-ng-bind="srvCtrl.total()-srvCtrl.total()*0.2 | currency" class="ng-binding"></span><br></div>
    </body>
</html>