<!DOCTYPE html>
<html lang="en" data-ng-app="CurrencyApp">
<head>
    <meta charset="UTF-8">
    <title>Currency</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="js/currencyApp.js"></script>
    <script src="js/currencyController.js"></script>
</head>
<body data-ng-controller="CurrencyController as curCtrl">
    <div class="container ng-scope">
        <div class="panel panel-primary">
            <div class="panel-heading">Currency Application</div>
            <div class="panel-body">
                <form class="form-group form-inline ng-pristine ng-valid">
                    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="curCtrl.what" size="5">
                    <select ng-model="curCtrl.from" ng-options="v.code as (v.code + ' - ' + v.name) for (k,v) in curCtrl.currencies" class="form-control ng-pristine ng-untouched ng-valid"></select>
                    <a href="#" ng-click="curCtrl.swap()">↔</a>
                    <select ng-model="curCtrl.to" ng-options="v.code as (v.code + ' - ' + v.name) for (k,v) in curCtrl.currencies" class="form-control ng-pristine ng-untouched ng-valid"></select>
                    <input type="button" value="Convertir" ng-click="curCtrl.getResult()" class="btn btn-primary">
                    <input type="text" ng-model="curCtrl.result" class="form-control ng-pristine ng-untouched ng-valid" readonly="readonly" size="5">
                    <div class="checkbox"><label><input type="checkbox" ng-model="curCtrl.histo" checked="histo" class="ng-pristine ng-untouched ng-valid"> Historique</label></div>
                </form>
            </div>
            <div class="container-fluid" ng-show="curCtrl.histoNonVide() && curCtrl.histo">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody><tr>
                                <th>De</th>
                                <th>En</th>
                                <th class="text-center">Tx</th>
                                <th class="text-center">Montant</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Delta</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="(id, conversion) in historique" class="animate-repeat ng-scope" data-ng-class="{'info':curCtrl.conversion.update,'danger':curCtrl.conversion.delta<0,'success':curCtrl.conversion.delta>0}"></tr>
                                <td class=ng-binding">{{conversion.from}}</td>
                                <td class=ng-binding">{{conversion.to}}</td>
                                <td class=ng-binding">{{conversion.rate}}</td>
                                <td class=ng-binding">{{conversion.amount}}</td>
                                <td class=ng-binding">{{conversion.date}}</td>
                                <td class=ng-binding">{{conversion.delta}}</td>
                            <tr>
                                <td colspan="7">
                                    <form class="form-inline ng-valid ng-dirty ng-valid-parse" style="">
                                        <div class="input-group">
										<span class="input-group-addon">
											<input type="checkbox" title="Auto-refresh" class="ng-valid ng-dirty ng-valid-parse ng-touched" style="">
										</span>
                                            <input type="number" class="form-control ng-pristine ng-untouched ng-valid"">
                                            <span class="input-group-btn">
										<button class="btn btn-primary"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
										</span>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>